#cards-content {
  padding-left: 5%;
}

;

#menu {
  overflow: hidden;
  background-color: #FF7521;
  position: fixed;
  top: 0;
  width: 100%;
}

.headerBar {
  overflow: hidden;
  background-color: #FF7521;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  width: 100%;
  transition: 1s;
}